/*
 * 画像パネルCSS
*/

.pane:not(#menu){
    display: none;
    overflow-y:auto;
    width:100%;
    height:fit-content !important;
    max-height: 100%;

    padding: 10px;
    padding-left: 20px;
    box-sizing: border-box;
}
.imgCell{
    display: inline-block;
    position: relative;
    margin: 3px;
}
.imgCell,
.thumbCell{
    width:calc(var(--size) * 1px);
    height:calc(var(--size) * 1px);
}

/*-- 「さらに読み込む」ボタン --*/
.imgCell .loadmore{
    width:50%;
    height:50%;
    margin: 25%;
}

.imgCell img{
    width:100%;
    height:100%;
    object-fit: contain;
}

.imgCell .fav{
    position: absolute;
    bottom: 3px;
    right:3px;
    font-size: 1.3em;
}
.imgCell .fav::before{
    content: '🤍';
}
.imgCell .fav:hover::before{
    content: '💛';
}
.imgCell .fav[data-faved="1"]::before{
    content: '🧡';
}
.imgCell .usr{
    filter: grayscale(1);
    position: absolute;
    top: 3px;
    right: 3px;
    width: 27px;
    height: 27px;
}
.imgCell .usr:hover{
    filter: none;
}

#scalebtn{
    position: absolute;
    right: 0;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#scalebtn .btn {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    background-color: #444;
    border:1px solid #aaa;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #ccc;
    margin: 10px 0;
    transition: .2s all ease-in-out;
    cursor: pointer;
}
#scalebtn .btn:hover {
    filter: drop-shadow(0px 0px 2px rgba(1,1,1,0.5));
}

.btn#fav{
    line-height: 45px;
    font-size: 1.2em;
}

.onlyfav{
    display: none;
}
.onlyfav:checked ~ .imgCell[data-faved="0"],
.onlyfav:checked ~ .userCell[data-empty="1"]
{
    display: none;
}

#userinfo{
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 1.1em;
    color: #333;
    transition: .3s all ease-in-out;
}
#userinfo[data-loaded="0"]{
    transform: translateY(-50px);
}
#userinfo a::before{
    content: '(';
}
#userinfo a::after{
    content: ')';
}